page-about-page {
  .about {
    text-align: center;
  }
  .page-content {
    background-color: #488aff;
    color: white;
  }

  .body {
    font-size: large;
  }
  .version {
    margin: 20px;
    font-size: medium;
  }

}
